*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family:'Poppins',sans-serif;
  background:#f5f5f5;
  padding:40px 20px;
}
.container{
  max-width:900px;
  margin:auto;
}
h1{
  text-align:center;
  margin-bottom:30px;
  color:#e53935;
}
.cart-item{
  background:white;
  padding:18px;
  border-radius:14px;
  margin-bottom:18px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
}
.left{
  display:flex;
  align-items:center;
  gap:15px;
}
.left img{
  width:90px;
  height:90px;
  object-fit:cover;
  border-radius:10px;
}
.item-details h3{
  color:#8d1b1b;
  margin-bottom:8px;
}
.item-details p{
  color:#444;
}
.right{
  text-align:right;
}
.right h2{
  color:#ff5722;
}
.remove-btn{
  margin-top:10px;
  border:none;
  background:#e53935;
  color:white;
  padding:8px 14px;
  border-radius:8px;
  cursor:pointer;
}
.total-box{
  margin-top:30px;
  background:white;
  padding:20px;
  border-radius:14px;
  text-align:center;
  font-size:28px;
  font-weight:700;
  color:#e53935;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

/* BUTTON BOX */

.btn-box{
  text-align:center;
  margin-top:25px;
}

/* SHOP BUTTON */

.shop-btn{
  background:#e53935;
  color:white;
  border:none;
  padding:14px 28px;
  border-radius:10px;
  font-size:16px;
  font-weight:600;
  cursor:pointer;
  transition:0.3s;
}

.shop-btn:hover{
  background:#c62828;
  transform:scale(1.05);
}
.checkout-btn{
  margin-left:10px;
  background:#ff5722;
}

.checkout-btn:hover{
  background:#e64a19;
}
/* EMPTY CART */

.empty-cart{
  display:none;
  text-align:center;
  background:white;
  padding:50px 20px;
  border-radius:18px;
  margin-bottom:20px;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

.empty-cart i{
  font-size:70px;
  color:#ff5722;
  margin-bottom:20px;
}

.empty-cart h2{
  color:#666;
  margin-bottom:10px;
}

.empty-cart p{
  color:#888;
  font-size:16px;
}

/* MOBILE RESPONSIVE */

@media(max-width:600px){
  .cart-item{
    flex-direction:column;
    align-items:flex-start;
    gap:15px;
  }

  .right{
    width:100%;
    text-align:left;
  }
  .btn-box{
    display:flex;
    flex-direction:column;
    gap:15px;
  }
  .checkout-btn{
    margin-left:0;
  }
  .shop-btn{
    width:100%;
  }
  .total-box{
    font-size:24px;
  }
}
.remove-all-btn{
  background:#3a3838;
  margin-left:10px;
  transition:0.3s;
}
.remove-all-btn:hover{
  background:#111;
  transform:scale(1.08);
  box-shadow:0 4px 12px rgba(0,0,0,0.3);
}